.sidebar{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
    min-height: 100vh;
    background-color:white;
    border-right: 1px solid gray;
}
.sideBarItem:first-child{
    border-top: 1px solid gray;
}
.sideBarItem{
    display: grid;
    gap: 10px;
    width: 100%;
    height: 72px;
    border-bottom: 1px solid gray;

    padding: 10px;
}
.sideBarItem:hover{
    background-color: azure;
    cursor: pointer;
}
.sideBarItemTop{
    display: flex;
    justify-content: space-between;
}
